body{
    background-image : url(../funcionapfvr.gif);
    }
    .col-xs-6
    {
        color: aquamarine;
    }

    .col-sm-4
    {
        color: white;
    }

    .list-group
    {
        color: black;
    }